<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zhku.mapper.SpendMapper">
	<!-- 查询 所有消费 分类 -->
	<select id="queryAllSpendCate" resultType="SpendCategory">
		select id,name from spend_category
	</select>
	
	<!-- <select id="queryUserSingin" parameterType="User" resultType="User">
		select id,username,password,email from user where username=#{username}
		and password=#{password}
	</select>
	<select id="queryUserByName" parameterType="java.lang.String"
		resultType="User">
		select * from user where username=#{username}
	</select> -->
	
	<!-- <select id="queryUserById" parameterType="java.lang.Integer" resultType="User">
		select id,username,password,email from user where id=#{id}
	</select> -->
	
	<!-- 添加用户 useGeneratedKeys开启后 jdbc会 获取自动增长的主键 赋值给keyProperty属性 -->
	<insert id="addSpendCate" parameterType="SpendCategory" useGeneratedKeys="true"
		keyProperty="id">
		insert into spend_category
		(name)
		values(#{name})
	</insert>
	
	<!-- 插入消费记录信息 -->
	<insert id="addSpendRecord" parameterType="SpendRecord" useGeneratedKeys="true"
		keyProperty="id">
		insert into spend_record (spendnum,date,s_comment,user_id,s_category_id)
		values(#{spendnum},#{date},#{comment},#{user_id},#{s_category_id})
	</insert>
	<delete id="deleteSpendCate" parameterType="java.lang.Integer">
		delete from spend_category where id=#{id}
	</delete>
	
	<select id="queryAllSpendRecord" resultType="SpendRecord">
		select id,spendnum,date,s_comment as comment,user_id,s_category_id from spend_record
	</select>
	
	<!-- 根据 相同 日期 查询 数据 -->
	<select id="querySpendRecordDate2" parameterType="java.util.Date" resultType="SpendRecord">
		select id,spendnum,date,s_comment as comment,user_id,s_category_id
		from spend_record 
		where
		date=#{date}
	</select>
	<select id="querySpendRecord" parameterType="int" resultType="SpendRecord">
		select id,spendnum,date,s_comment as comment,user_id,s_category_id
		from spend_record
		where id=#{id}
	</select>
	
	<select id="querySpendCateName" parameterType="int" resultType="SpendCategory">
		select id,name from spend_category
		where id=#{id}
	</select>
	
	<select id="querySpendRecordByDateUserId" parameterType="java.util.Map" resultType="SpendRecord">
		select spendnum,date 
		from spend_record 
		where user_id=#{id} 
		<if test="date!=null">
			and date=#{date}
		</if>
	</select>
	
	<select id="queryMonthNumdata" parameterType="java.util.Map" resultType="SelectSumPojo">
		<choose>
			<when test="spend!=null">
				select MONTH(date) as month_num , sum(spendnum) as totalNum
				from spend_record
				where user_id=#{id}
				<if test="year!=null">
					and YEAR(date)=#{year}
				</if>
				group by MONTH(date)
			</when>
			<otherwise>
				select MONTH(date) as month_num , sum(incomenum) as totalNum
				from income_record
				where user_id=#{id}
				<if test="year!=null">
					and YEAR(date)=#{year}
				</if>
				group by MONTH(date)
			</otherwise>
		</choose>
		
	</select>
	
	<select id="queryMonthCateData" resultType="SelectSumPojo" parameterType="map">
		select sum(spendnum) as totalNum,MONTH(date) as month_num,spend_category.name as cate_name
		from spend_record,spend_category
		where user_id=#{id} and spend_record.s_category_id=spend_category.id
		<if test="year!=null">
			and YEAR(date)=#{year}
		</if>
		<if test="month!=null">
			and MONTH(date)=#{month}
		</if>
		group by spend_category.id
	</select>
	
</mapper>